@import "page.styl"

main header div
    > *
        margin: 0.1rem 0

    time
        display: block;

    div.post-categories, div.post-tags
        display: flex;
        gap: 0 2ch;
        flex-wrap: wrap;
blockquote.copyright
    border-color: #80186c
    margin-top: 40px
    margin-bottom: 40px
blockquote.copyright > p
    color: #80186c
    font-weight: bold
