<main>
    <h1><%= page.gallery.name %></h1>
    <p><%= page.gallery.desc %></p>
    <div class="gallery">
        <% page.gallery.files.forEach(function(file) { %>
            <img src="<%= page.gallery.thumb_first ? (file.thumb ? file.thumb : file.path) : file.path %>" alt="<%= page.gallery.name %>" loading="lazy">
        <% }) %>
    </div>
</main>