<main>
    <h1><%= page.gallery.name %></h1>
    <div class="gallery">
        <% page.gallery.files.forEach(function(file) { %>
            <a class="gallery-item" href="<%= file %>" target="_blank">
                <img src="<%= file %>" alt="Gallery Image" loading="lazy">
            </a>
        <% }) %>
    </div>
</main>